/* 主要區----------------------------------------------------------------------------- */
.allbar{
    height: 100px;
    background-color: #FFECE4;
}
.bg{
    width: 100%;
    background-color: #FFECE4;
    height: 710px;
}
.upper-content {
    transition: opacity 0.5s ease-in-out;
    width: 50%;
    margin-top: 20px; 
}
@media(max-width:819px){
    .upper-content {
        width: 80%;
    }
}
@media(max-width:820px){
    .bg{
        height: 900px;
    }
}
@media(max-width:768px){
    .bg{
        height: 700px;
    }
}
@media(min-width:820px) and (max-width:1000px){
    .upper-content{
        width: 80%;
    }
}

.envelope{
    position: relative;
}
.paper {
    width: 35%;
    height: 550px;
    margin: auto;
    position: relative;
    right: 25%;
    left: 0;
    opacity: 1;
}
@media(max-width:819px){
    .paper{
        width: 80%;
    }
}
@media(min-width:820px) and (max-width:1000px){
    .paper{
        width: 70%;
    }
}
#paper{
        transition: transform 2s ease-in-out, opacity 0.5s ease-in-out;
}

.hidden-message{
    position: absolute; 
    top: 200px;
    font-size: 1.8rem;
    line-height: 35.8px;
    font-family: 'New York';
    width: 100%;
    text-align: center;
    color: rgb(82, 82, 82);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.hidden-message {
    opacity: 0;
}

.visible-message {
    opacity: 1;
}
.upper-part, .lower-part {
    width: 100%;
    height: 50%;
    background-color: #FFF9E2;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* padding: 20px; */
    /* box-sizing: border-box; */
    z-index: 9;
}


.paper h1{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'New York';
    margin-top: 15px;
    margin-bottom: 40px;
}
input{
    width: 100%;
    margin: auto;
    border: none;
    background-color: #FFF9E2;
    border-bottom: 1px gray solid;
    margin-bottom: 5px;
}
input:focus{
    outline: none;
}

.upper-content p{
    margin-top: 5px;
}

.upper-part {
    transition: transform 1s ease-in-out;
    transform-origin: bottom center;
    overflow: hidden;
}
.lower-content{
    display: flex;
    flex-direction: column;
    width: 50%;
}
@media(max-width:820px){
    .lower-content{
        width: 80%;
    }
}
@media(max-width:768px){
    .lower-content{
        margin-top: 10px;
    }
}

.shrunk {
    transform: scale(0.7);
}
textarea{
    resize: none;
    width: 100%;
    height: 150px;
    outline: none;
}

textarea:focus{
    outline: #FFC7C2 2px;
}
.lower-content button{
    width: 50%;
    margin: auto;
    /* margin-top: px; */
}

.hidden-content {
    opacity: 0;
}  

.folded {
    transform: perspective(600px) rotateX(-180deg);
}

button {
    background-color: #FFC7C2;
    border: none;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #fadbd8;
}
#image {
    position: absolute;
    width: 580px; 
    height: 350px; 
    top: 400px; 
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity 0.5s ease; 
}
@media(max-width:819px){
    #image{
        width: 500px;
        height:300px;
        /* top: 50%; */
    }
}
@media(max-width:400px){
    .upper-content h1{
        font-size: 35px;
    }
    .upper-content p {
        font-size: 16px;
    }
    #image{
        width: 400px;
        height:240px;
    }
    #newMessage {
        font-size: 28px;
    }

}


/* test========================================= */




/* 
@keyframes pushLetter {
  0% {transform: translateY(-8rem) scale(0.3, 0.5);}
  50% {transform: translateY(-8rem) scale(0.3, 0.5);}
  90% {transform: translateY(-8.5rem) scale(0.3, 0.5);}
  100% {transform: translateY(-8rem) scale(0.3, 0.5);}
} */

