/* 主要區----------------------------------------------- */
.background{
    background-color: #FFF9E2;
    width: 100%;
    height: 810px;  
}
.allbar{
    width: 100%;
    height: 150px;
    background-color: #FFF9E2;
}
.mainbar{
    background-color: #FFECE4;
    width: 50%;
    margin: auto;
    border-radius: 20px 20px 0 0;
    padding: 20px 0 20px 0;
    margin-bottom: 2px;
}
@media (min-width:821px) and (max-width:1440px){
    .mainbar{
        width: 70%;
    }
}
@media (min-width:790px) and (max-width:830px){
    .background {
        height: 1000px;
    }
}
@media (max-width:821px){
    .mainbar{
        width: 95%;
    }
}

.mainbar h5{
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    color: #646464;
    font-weight: 450;
}
.list{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    gap: 2px;
}
.list >* {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list a {
    background-color: #FFC7C2;
    margin: auto;
    width: 25%;
    text-align: center;
    height: 80px;
    color: #646464;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-weight: 450;
}
.list a:hover{
    background-color: #FFECE4;
    cursor: pointer;
    color: #646464;
}
.list .first{
    background-color: #ffece4;
    color: #646464;
}
.list .gap{
    color: white;
}

@media (min-width:821px) and (max-width:1440px){
    .list{
        width: 70%;
    }
}
@media (max-width:821px){
    .list{
        width: 95%;
    }
}

.discount-box{
    background-color: #FFECE4;
    width: 50%;
    height: 400px;
    margin: auto;
    border-radius: 0 0 20px 20px;
}
@media (min-width:821px) and (max-width:1440px){
    .discount-box{
        width: 70%;
    }
}
@media (max-width:820px){
    .discount-box{
        width: 95%;
    }
    .dis-title {
        padding-left: 10px;
    }
}
.dis-title{
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 500;
    color: #646464;
    padding-left: 100px;
}

.ticket-box{
    width: 80%;
    height: 300px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}
@media(max-width:819px){
    .ticket-box{
        width: 95%;
    }
    .dis-title {
        padding-left: 20px;
    }
}
.ticket-sub{
    display: flex;
    border-bottom: 1px solid #646464;
    text-align: center;
    width: 100%;
    height: 70px;
}
.ticket-sub >* {
    width: 20%;
}
.ticket-box .app {
    width: 40%;
}
.ticket-sub p{
    margin: auto;
    text-align: center;
}
.ticket{
    display: flex;
    border-bottom: 1px solid #cecece;
    position: relative;
    width: 100%;
    height: 70px;
}
.ticket >* {
    width: 20%;
}

.ticket p{
    margin: auto;
    text-align: center;
    line-height: 20px;
}

.flower img{
    width: 150px;
    position: absolute;
    margin-left: 800px;
    transform: rotate(10deg);
    top:500px;
}
@media(max-width:820px){
    .flower img{
        display: none;
    }
}
@media(max-width:400px){
    .ticket-box span {
        display: none;
    }
    .dis-title {
        padding-left: 10px;
        font-size: 20px;
    }
    .allbar{
        height: 100px;
    }
    .ticket .spanblank {
        display: none;
    }
    .ticket-sub {
        padding-left: 6px;
        gap: 19.8px;
    }
    .ticket {
        gap:19px;
    }
    .ticket-sub .app {
        margin-left: 10px;
    }
}
@media(max-width:500px) and (min-width:401px){
    .ticket-box span {
        display: none;
    }
    .dis-title {
        padding-left: 10px;
        font-size: 20px;
    }
    .allbar{
        height: 100px;
    }
    .ticket .spanblank {
        display: none;
    }
    .ticket-sub {
        padding-left: 6px;
        gap: 25px;
    }
    .ticket {
        gap:19px;
    }
    .ticket-sub .app {
        margin-left: 10px;
    }
}
