/* 主要區----------------------------------------------- */
.background{
    background-color: #FFF9E2;
    width: 100%;
    height: 710px;  

    
}
.mainbar{
    background-color: #FFECE4;
    width: 50%;
    margin: auto;
    border-radius: 20px 20px 0 0;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 3px;
}
@media (min-width:821px) and (max-width:1140px){
    .mainbar{
        width: 80%;
    }
}
@media (max-width:820px){
    .mainbar{
        width: 95%;;
    }
}
.mainbar h5{
    text-align: center;
    font-size: 2rem;
}
.list{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 2px;

}
@media (min-width:821px) and (max-width:1140px){
    .list{
        width: 80%;
    }
}
@media (max-width:820px){
    .list{
        width: 95%;;
    }
}

.list a {
    background-color: #FFC7C2;
    margin: auto;
    padding-top: 25px;
    width: 25%;
    text-align: center;
    height: 80px;
    font-weight: bold;
    color: rgb(49, 49, 49);
    font-size: 18px;
}
@media (max-width:819px){
    .list a{
        font-size: 13px;
    }
}


.list a:hover{
    background-color: #FFECE4;
    cursor: pointer;
}
.list .first{
    background-color: #ffece4;
}
.list .gap{
    margin-right: 2px;
}

.act-bar{
    background-color: #FFECE4;
    width: 50%;
    display: flex;
    margin: auto;
    padding-top: 50px;
}
@media (min-width:821px) and (max-width:1140px){
    .act-bar{
        width: 80%;
    }
}
@media (max-width:820px){
    .act-bar{
        width: 95%;;
    }
}

.memberrwd{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.allbar{
    width: 100%;
    height: 100px;
    background-color: #FFF9E2;
}
.act-bar p{
    background-color: #fffde7;
    padding: 5px;
    font-size: 1.1rem;
    margin: 10px;
    text-align: center;

}
.act-bar small{
    margin-top: 12px;
    background-color: white;
    padding: 5px;
    padding-right: 30px;
}

.sub{
    padding-left: 10%;
    text-align: center;
}
.act-detail{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fin-bar{
    display: flex;
    flex-direction: column;
    background-color: #FFECE4;
    width: 50%;
    margin: auto;
    padding-bottom: 3%;
    border-radius: 0 0 20px 20px;
}
@media (min-width:821px) and (max-width:1140px){
    .fin-bar{
        width: 80%;
    }
}
@media (max-width:820px){
    .fin-bar{
        width: 95%;;
    }
}
.confirm{
    display: flex;
    padding-left: 19%;
    padding-top: 5%;
    position: relative;
}
.confirm img{
    width: 15%;
    position: absolute;
    right: 0;
    margin-top: -80px;
}
.confirm label{
    font-size: 16px;
}

button{
    border: none;
    width: 10%;
    border-radius: 30px;
    background-color: #FFC7C2;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 19%;
    margin-top: 20px;
}
button:hover{
    background-color:#ffb0a8; 
    cursor: pointer;
}
