/* 主要區----------------------------------------------- */
.background{
    background-color: #FFF9E2;
    width: 100%;
    height: 900px;  
}
.allbar{
    width: 100%;
    height: 150px;
    background-color: #FFF9E2;
}
.mainbar{
    background-color: #FFECE4;
    width: 50%;
    margin: auto;
    border-radius: 20px 20px 0 0;
    padding: 20px 0 20px  0;
    margin-bottom: 2px;
}
@media (min-width:821px) and (max-width:1140px){
    .mainbar{
        width: 80%;
    }
}
@media (max-width:820px){
    .mainbar{ 
        width: 95%;;
    }
}
.mainbar h5{
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    color: #646464;
}
.list{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    gap: 2px;
}
.list >* {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:820px){
    .list{
        width: 95%;;
    }
}
.list a {
    background-color: #FFC7C2;
    margin: auto;
    width: 25%;
    text-align: center;
    height: 80px;
    color: #646464;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 18px;
}
.list a:hover{
    background-color: #FFECE4;
    cursor: pointer;
    color: #646464;
}
.list .first{
    background-color: #ffece4;
    color: #646464;
}
.list .gap{
    color: white;
}
.act-bar{
    background-color: #FFECE4;
    width: 50%;
    display: flex;
    margin: auto;
}
.act-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 45px 2% 0 2%;
}
/* 修改區 */
.memberinfo {
    display: flex;
}
.memberinfo input{
    border-style: none;
    padding: 5px;
    font-size: 1rem;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
}

@media (min-width:821px) and (max-width:1140px){
    .act-bar{
        width: 80%;
    }
}
@media (max-width:820px){
    .act-bar{
        width: 95%;;
    }
}
.act-bar p{
    background-color: #fffde7;
    font-size: 16px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #646464;
}
.act-detail{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fin-bar{
    display: flex;
    flex-direction: column;
    background-color: #FFECE4;
    width: 50%;
    margin: auto;
    padding-bottom: 3%;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
}
@media (min-width:821px) and (max-width:1140px){
    .fin-bar{
        width: 80%;
    }
}
@media (max-width:820px){
    .fin-bar{
        width: 95%;;
    }
}
.confirm{
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    justify-content: center;
    align-items: center;
}
.confirm img{
    width: 150px;
    position: absolute;
    right: 20%;
}
@media (min-width:640px) and (max-width:1439px){ 
    .confirm img{
        width: 80px;
        right: 1%;
    }
    .act-bar {
        padding-top: 20px;
    }
}
@media (min-width:390px) and (max-width:639px){ 
    .confirm img{
        display: none;
    }
}
@media (max-width:400px){ 
    .act-bar {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
    .checkbox{
        padding-left: 55px;
    }
    .checkbox label {
        text-align: center;
    }
    .memberinfo p{
        font-size: 14px;
    }
    .memberinfo input {
        font-size: 14px;
    }
    .checkbox span{
        font-size: 14px;
    }
    .allbar{
        height: 100px;
    }
    .background{
        height: 750px;  
    }
}
@media (min-width:780px) and (max-width:850px){ 
    .background{
        height: 950px;  
    }
}
.confirm label{
    font-size: 16px;
    color: #646464;
}
.savebutton {
    margin-top: 1%;
    margin-bottom: 3%;
    width: 150px;
}
button{
    border: none;
    width: 100%;
    border-radius: 100px;
    background-color: #FFC7C2;
    padding: 6px;
    margin-top: 20px;
    font-size: 16px;
}
button:hover{
    background-color:#ffb0a8; 
    cursor: pointer;
}