/* 主要區----------------------------------------------- */
.background {
    background-color: #FFF9E2;
    width: 100%;
    height: 1800px;
}

.allbar{
    width: 100%;
    height: 150px;
    background-color: #FFF9E2;
}

.mainbar {
    background-color: #FFECE4;
    width: 50%;
    margin: auto;
    border-radius: 20px 20px 0 0;
    padding: 20px 0 20px 0;
    margin-bottom: 2px;
}
@media (min-width:821px) and (max-width:1010px){
    .mainbar{
        width: 90%;
    }
}
@media (min-width:1011px) and (max-width:1180px){
    .mainbar{
        width: 70%;
    }
}
@media (min-width:1181px) and (max-width:1400px){
    .mainbar{
        width: 60%;
    }
}
@media (max-width:820px){
    .mainbar{
        width: 95%;
    }
}

.mainbar h5{
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    color: #646464;
    font-weight: 450;
}
.list{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    gap: 2px;
}
.list >* {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list a {
    background-color: #FFC7C2;
    margin: auto;
    width: 25%;
    text-align: center;
    height: 80px;
    color: #646464;
    font-size: 1rem;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-weight: 450;
}
.list a:hover{
    background-color: #FFECE4;
    cursor: pointer;
    color: #646464;
}
.list .first{
    background-color: #ffece4;
    color: #646464;
}
.list .gap{
    color: white;
}
@media (min-width:821px) and (max-width:1010px){
    .list{
        width: 90%;
    }
}
@media (min-width:1011px) and (max-width:1180px){
    .list{
        width: 70%;
    }
}
@media (min-width:1181px) and (max-width:1400px){
    .list{
        width: 60%;
    }
}
@media (max-width:820px){
    .list{
        width: 95%;
    }
}

/* 下方資訊 */
.order-box {
    background-color: #FFECE4;
    width: 50%;
    margin: auto;
}
@media (min-width:821px) and (max-width:1010px){
    .order-box{
        width: 90%;
    }
}
@media (min-width:1011px) and (max-width:1180px){
    .order-box{
        width: 70%;
    }
}
@media (min-width:1181px) and (max-width:1400px){
    .order-box{
        width: 60%;
    }
}
@media (max-width:820px){
    .order-box{
        width: 95%;
    }
}

.none {
    background-color: #FFECE4;
    width: 100%;
    height: 10px;
}
.box-1 {
    background-color: white;
    width: 90%;
    height: 130px;
    margin: auto;
    margin-top: 30px;
    padding: 0 20px 0 20px;
    border-radius: 10px;
}
@media (max-width:819px){
    .box-1{
        width: 90%;
    }
}

.box-1-1 {
    display: flex;
    border-bottom: 1px solid #cecece;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}
.box-1-1 >* {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box-1-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-self: center;
    padding-top: 10px;
}
.box-1-2 >* {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box-1-2 button {
    border: none;
    cursor: pointer;
    padding: 5px;
    /* margin-right: 2px;
    margin-bottom: 25px; */
    border-radius: 20px;
    background-color: #FFC7C2;
}
.box-1-2 button:hover {
    background-color: #FFECE4;
}
.order-detail-box {
    display: none;
}
.active {
    display: flex;
    background-color: white;
    width: 90%;
    padding: 0 20px 0 20px;
    height: 1000px;
    margin: auto;
    margin-top: 30px;
    flex-direction: column;
    display: block;
    border-radius: 10px;
}
@media (max-width:819px){
    .active {
        width: 90%;
    }
}
.odb-1 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
}
.odb-1 >* {
    width: 20%;
}
.productinfo {
    width: 60%;
    padding-left: 2%;
    text-align: left;
}
.odb-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #cecece;
}
.odb-2 >* {
    width: 20%;
}
.odb-2 img {
    margin: auto;
    padding: 20px 10px 20px 10px;
}
.order-detail-box .odb-2>p.odrname {
    font-size: 1rem;
    font-weight: 900;
    width: 40%;
    text-align: left;
}
.odr-money {
    display: flex;
    margin-top: 20px;
}
.odr-money p{
    padding: 10px 0 10px 0;
}
.odr-money >* {
    width: 20%;
}
.odr-money-1 {
    padding-left: 4%;
}
.odr-money-2 {
    padding-right: 3%;
    text-align: right;
}
.updown {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 9px 0 9px;
}
.row {
    display: flex;
    width: 100%;
    gap: 100px;
}
@media (max-width:700px) {
    .row {
        gap: 20px;
    }
}
.row >* {
    width: 50%;
}
.detailbig {
    display: flex;
    flex-direction: column;
}
.detailsmall {
    display: flex;
    justify-content: space-between;
}
.row h1 {
    font-size: 18px;
    font-weight: 900;
    margin-top: 50px;
}
.row p {
    font-size: 16px;
    margin-top: 15px;
}
@media (max-width: 500px) {
    .background {
        height: 1900px;
    }
    .active {
        height: 1080px;
    }
    .odb-1 span {
        display: none;
    }
    .updown {
        margin: 0;
        padding-top: 15px;
    }
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
    .detailbig h1{
        margin-top: 20px;
        font-size: 17px;
    }
    .detailbig {
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }
    .detailsmall {
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .allbar{
        height: 100px;
    }
    .box-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 180px;
        padding-left: 50px;
    }
    .box-1-1 {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;
        width: 100%;
    }
    .box-1-2 {
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    }
    .box-1-2 .btn {
        width: 50%;
        margin-top: 10px;
        justify-content: center;
    }
    .bar-gap {
        width: 100%;
        margin-top: 10px;
    }
    .blank {
        width: 100%;
        height: 40px;
    }
    .box-1-1 >* {
        justify-content: left;
    }
    .box-1-2 >* {
        justify-content: left;
        margin-top: 10px;
    }
    .odr-money span {
        display: none;
    }
    .odr-money {
        display: flex;
        gap:50px;
        margin: 0;
        padding: 0;
        justify-content: end;
    }
    .odr-money-2 {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 0;
        margin: 0;
    }
    .order-detail-box .odb-2>p.odrname {
        font-weight: 400;
    }
    .order-detail-box .odb-2>p.odrname span {
        display: none;
    }
}
@media (min-width:600px) and (max-width:1440px){
    .active {
        height: 900px;
    }
}

.nbsp {
    width: 50%;
    background-color: #FFECE4;
    height: 80px;
    margin: auto;
    border-radius: 0 0 20px 20px;
}
@media (min-width:821px) and (max-width:1010px){
    .nbsp{
        width: 90%;
    }
}
@media (min-width:1011px) and (max-width:1180px){
    .nbsp{
        width: 70%;
    }
}
@media (min-width:1181px) and (max-width:1400px){
    .nbsp{
        width: 60%;
    }
}
@media (max-width:820px){
    .nbsp{
        width: 95%;
    }
}
