.bgimg img {
    display: block;
    width: 100%;
}



/* 主要區------------------------------------------------------- */
.icon span{
    color: #fff;
    margin-left: -15px;
    background-color: #e90000;
    height: 20px;
    padding: 2px;
    border-radius: 50px;
}
.bgimg {
    background-image: url(../imagesAll/images/information.png);
    width: 100%;
    /* height: 1574px; */
    background-size: cover;
    /* 自動剪裁 */
    background-position: center;
    /* 背景置中 */
}


.product-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.smlpic {
    width: 5%;
    padding-right: 10px;
    border-radius: 10px;
    padding-top: 50px;
}

.smlpic .img-item {
    padding-bottom: 10px;
}

.bigpic {
    width: 25%;
    padding-top: 50px;
}

.detail {
    padding-top: 50px;
    padding-left: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.detail h1{
    font-size: 2rem;
    font-family: 'New York';

}
.detail h2{
    width: 93%;
    font-size: 2rem;
    border-bottom: solid rgb(190, 190, 190) 2px;
    padding-bottom: 10px;
    font-family: 'New York';
}
.detail p{
    width: 100%;
    line-height: 20px;
}
.btn-con{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 90%;
}
.btn-con button{
    border: none; 
    outline: none;
    border-radius: 60px;
    width: 30px;   
}
.btn-con img:hover{
    cursor: pointer;


}
.btn-con img:active{
    transform: scale(0.8);
    box-shadow: inset;
    
}
.btn-con span{
    display: flex;
    justify-content: center;
    width: 20%;
    font-size: 2rem;

}
.add{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.add img{
    display: none;
    z-index: 10;
  }
.add button {
    color: rgb(56, 56, 56);
    background-color: #ffc7c2;
    width: 100%;
    height: 5vh;
    border-radius: 30px;
    outline: none;
    border: none; 
    outline: none;
    cursor: pointer;
}
.add button:active{
    transform: scale(0.9);
    box-shadow: inset 0 0 10px 1px rgba(255, 170, 170, 0.8);
}

.add button:hover{
    background-color: #b68c8c;

}


/* products recommedation */
.promotePro{
    padding-bottom: 50px;

}
.ymal{
    padding-left: 20%;
    padding-top: 10vh;
    font-size: 3rem;
    color: #646464;
    font-family: 'New York';
}
.list-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
    
}
.list-box img{
    margin: -30vh auto 0;
    margin-top: -20vh;
    width: 80%;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffc7c2;
    width: 20%;
    height: 350px;
    margin: 20px;
    margin-top: 200px;
    border-radius: 30px;

}
.box h1{
    text-align: center;
    font-weight: 700;
    font-family: New York;

}
.box:hover{
    background-color: #FFF9E2;
    transform: scale(1.15,1.15);
    transition: .6s;
    border: 4px solid #ffc7c2;

}
.box:hover h1{
    color: #646464;
    margin-bottom: 10px;
    font-weight: 700;
    
}

.box:hover button{
    background-color: #ffc7c2;
}
.suggest-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.suggest-detail .content{
    text-align: center;
    padding-bottom: 20px;
}

.box .product-price{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    width: 80%;
}
.box .select-num{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    width: 80%;

}


.box h1{
    /* padding-top: 50px; */
    margin-top: 10px;
    font-size: 1.5rem;
    display: flex;
    color: white;
    justify-content: center;
    
}

.num-con{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    
}
.num-con p{
    padding-left: 100px;
}

.box button{
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 30px;
    border: none; 
    outline: none;
    height: 30px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}
.box button:hover{
   background-color: #fe9c93;
   color: white;
}







.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
  flex-direction: column;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}



