@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Noto Sans Carian';

    /* 全部的字大小 */
}
@font-face {
    font-family: 'New York';
    src: url(..//fonts/NewYork.otf);
}

img {
    display: block;
    width: 100%;
}


body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
}



a {
    display: block;
    text-decoration: none;
    /* 除去超連結預設底線 */
    color: #555;
    /* 超連結顏色 */
}
ul{
    list-style: none;
}

ul {
    list-style: none;
}

.logo {
    font-size: 1.8rem;
}

/* 以上都是網站基礎配置 */
/* Topbar */
.topbar {
    font-family: 'Noto Sans Carian';
    background-color: #FFF9E2;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 999;
}

.topbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

}

.topbar .left-bar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.topbar h1 {
    max-width: 200px;
}

.logo img {
    width: 100%
}

.topbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:0 15px; */
}

.topbar ul {
    display: flex;
    gap: 5px
}

.logo-s {
    display: none;
}

.topbar .menu a {
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

/* .menu>li{
    line-height: 70px;
} */
.topbar .menu a span {
    width: 100px;
    text-align: center;
    line-height: 70px;
}

.topbar .menu .translate-en {
    display: block;
}

.topbar .menu .translate-ch {
    display: none;
    /* color: #f5a490; */
}

.topbar .menu a:hover .translate-en {
    display: none;
}

.topbar .menu a:hover .translate-ch {
    display: block;
}


/* 電腦版下拉式選單 */
.menu-drop-L {

    position: absolute;
    top: 70px;
    width: 100%;
    left: 0;
    
   
    background: rgba(255, 199, 194, 0.85);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    /* border: 1px solid rgba(255, 199, 194, 1); */

    border: 4px solid #f9f2f2;
    border-radius: 0 0 40px 40px;

    display: flex;
    justify-content: flex-start;
    padding: 20px;


}

/* .menu .menu-drop-L{
    display: none;
    z-index: 990
} */

/* ul.menu li:hover>ul{
    display: block;
} */
.menu-drop-L li {
    padding-right: 20px;
    position: relative;
}

.menu-drop-L li a {
    z-index: 10;
    max-width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: #FFF9E2;
    border: 4px solid #FFF;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.menu-drop-L li a img {
    max-width: 50%;
    margin-bottom: 10px;

}

.menu-drop-L li a h3 {
    text-align: center;
    font-size: 14px;
}



.menu-drop-L li a:hover {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    backdrop-filter: blur(16.7px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 249, 226, .5);
}

.menu-drop-L li a:hover h3 {
    color: #646464
}



@media(max-width:820px) {
    .topbar nav {
        display: none;
    }
}
.icon{
    padding-right: 30px;
}

.icon a {
    width: 20px;
    height: 20px;
    margin: 10px;
    background-size: cover;
    background-position: center;
}

.icon-search {
    background-image: url(../imagesAll/indexPic/search.svg);
}

.icon-user {
    background-image: url(../imagesAll/indexPic/user.svg);
}

.icon-fqa {
    background-image: url(../imagesAll/indexPic/help.svg);
}

.icon-cart {
    background-image: url(../imagesAll/indexPic/shopping-cart.svg);
}

/* footer */
footer {
    /* max-width: 1440px; */
    background-color: #FFC7C2;
    margin: 0 auto;
    font-size: 16px;
    width: 100%;
}
.footer-container{
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

footer .menu {
    display: flex;
    gap: 30px;
}

footer .menu-1,
.menu-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;

}

footer .container p {
    font-size: 10px;
}

footer .container .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .container .icons img {
    width: 80%;
}

.border {
    width: 100%;
    text-align: center;
    border: 0.3px solid #464646;
    opacity: .5;
    margin: 15px 0;
}


footer .information {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
}

footer .information ul {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}



.information a {
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
}

.information .social-media .ig {
    background-image: url(../imagesAll/indexPic/footer-icon-ig.png);
}

.information .social-media .line {
    background-image: url(../imagesAll/indexPic/footer-icon-line.png);
}

.information .social-media .fb {
    background-image: url(../imagesAll/indexPic/footer-icon-fb.png);
}

.copyright-ms{
    display: none;
}
.border-s{
    display: none;
}



@media (min-width:821px) {}

/* 平板 */
@media (max-width:820px) {

    footer{
        margin: 0 auto;
        font-size: 14px;
    }
    .footer-container{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        gap: 20px;
    }
    

}

/* 手機 */
@media (max-width:640px) {
    .footer-container .container {
        display: none;
    }
    footer .menu {
        gap: 40px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }
    .footer-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:flex-start;
        /* gap: 20px; */
        font-size: 16px;
        padding: 40px;
        padding-top: 60px;

    }
    .copyright-ms{
        display: block;
        font-size: 10px;
        padding-bottom: 40px;
    }
    .border-s{
        display: block;
        margin: 10px 0;
    }

}

/* 主要區------------------------------------------------------- */
.icon span{
    color: #fff;
    margin-left: -15px;
    background-color: #e90000;
    height: 20px;
    padding: 2px;
    border-radius: 50px;
}
.bgimg {
    background-image: url(../imagesAll/images/information.png);
    width: 100%;
    /* height: 1574px; */
    background-size: cover;
    /* 自動剪裁 */
    background-position: center;
    /* 背景置中 */
}


.product-container {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.smlpic {
    width: 5%;
    padding-right: 10px;
    border-radius: 10px;
    padding-top: 50px;
}

.smlpic figure {
    padding-bottom: 10px;
}

.bigpic {
    width: 25%;
    padding-top: 50px;
}

.detail {
    padding-top: 50px;
    padding-left: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
}
.detail h1{
    font-size: 2rem;
    font-family: 'New York';

}
.detail h2{
    width: 93%;
    font-size: 2rem;
    border-bottom: solid rgb(190, 190, 190) 2px;
    padding-bottom: 10px;
    font-family: 'New York';
}
.detail p{
    width: 100%;
    line-height: 20px;
}
.btn-con{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    width: 90%;
}
.btn-con button{
    border: none; 
    outline: none;
    border-radius: 60px;
    width: 5.5vh;   
}
.btn-con img:hover{
    cursor: pointer;


}
.btn-con img:active{
    transform: scale(0.8);
    box-shadow: inset;
    
}
.btn-con span{
    display: flex;
    justify-content: center;
    width: 20%;
    font-size: 2rem;

}
.add{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.add img{
    display: none;
    z-index: 10;
  }
.add button {
    color: rgb(56, 56, 56);
    background-color: #ffc7c2;
    width: 100%;
    height: 5vh;
    border-radius: 30px;
    outline: none;
    border: none; 
    outline: none;
    cursor: pointer;
}
.add button:active{
    transform: scale(0.9);
    box-shadow: inset 0 0 10px 1px rgba(255, 170, 170, 0.8);
}

.add button:hover{
    background-color: #b68c8c;

}
.ymal{
    padding-left: 20%;
    padding-top: 10vh;
    font-size: 3rem;
    color: #646464;
    font-family: 'New York';

    
}
.list-box{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.list-box img{
    margin: -30vh auto 0;
    margin-top: -20vh;
    width: 80%;
    opacity:0.9;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffc7c2;
    width: 15%;
    height: 350px;
    margin: 20px;
    margin-top: 200px;
    border-radius: 30px;

}
.box:hover{
    background-color: #FFF9E2;
    transform: scale(1.15,1.15);
    transition: .6s;
    

}
.box:hover h1{
    color: #646464;
    

}
.box:hover button{
    background-color: #ffc7c2;
}
.box h1{
    /* padding-top: 50px; */
    margin-top: 10px;
    font-size: 1.5rem;
    display: flex;
    color: white;
    justify-content: center;
    
}
.box small{
    display: flex;
    justify-content: center;
}
.num-con{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    
}
.num-con p{
    padding-left: 100px;
}

.box button{
    background-color: #ffffff;
    border-radius: 30px;
    border: none; 
    outline: none;
    height: 30px;
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}
.box button:hover{
   background-color: #fe9c93;
}




/* testxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */


.trashcan img{
    width: 60%;
    margin: 30px auto;
    
}
