/* 購物車商品區 */
body{
    background-color: #FFF9E2;
}
.cart-container {
    width: 100%;

    padding-top: 150px;
    margin-bottom: 50px;
}

h1 {
    font-size: 44px;
    text-align: center;
}

.cart {
    background-color: white;
    border-radius: 10px 10px 0 0;
    width: 52%;
    margin: auto ;
    justify-content: center;
    align-items: center;
}
@media (min-width:821px) and (max-width:1440px){
    .cart{
        width: 70%;
    }
}
@media (max-width:820px) {
    .cart{
        width: 95%;
    }
}
.prtbar {
    display: flex;
    background-color: #FFDBCE;
    height: 50px;
    border-radius: 10px 10px 0 0;
    margin: auto;
    position: relative;
}


.prtbar h3 {
    font-size: 1.2rem;
    margin: auto 0;


}

.prtbar>h3 {
    margin-left: 35px;
}

.prtbar .list-title {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 15px;
    padding-right: 140px;
}
@media (max-width:390px){
    .prtbar .list-title {
       padding-right: 0; 
    }
}

.list-title h3 {
    margin-right: 50px;
    width:100%;
}
@media (max-width:390px){
    .list-title h3 {
        margin-right: 30px;
    }
}

.cart-product {
    border-bottom: gray solid 1px;
    display: flex;
    width: 100%;
}
.rwdbox{
    width: 100%;
    /* height: 50px; */
    display: flex;
    
}



.cart-product h5 {
    width: 20%;
    margin: auto;
    font-size: 1.1rem;
}
@media (max-width:820px) {
    .cart-product h5 {
        margin-left: 10px;
        padding: 10px;  
    }
}


.cart-product button {
    border: none;
    width: 70px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #FFDBCE;
    border-radius: 20px;
    padding: 5px;
}
@media (max-width:390px){
    .cart-product button{
        display: none;
    }
}
.cart-product button:hover {
    background-color: #FFF9E2;
    color: rgb(0, 0, 0);
}



.prt-detail {
    display: flex;
    margin: auto;
    /* margin-left: 50px; */
}


.prt-detail p {
    margin-right: 50px;
    width: 60px;
    text-align: center;
}
@media (max-width:500px){
    .prt-detail .rwdgap{
        margin-right: 0px;
    }
}

.cart-product img {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 10%;
}
@media (max-width:820px) {
    .cart-product img{
        display: none;
    }
}



/* 訂單備註區*/
.cus-detail {
    background-color: #FFDBCE;
    width: 52%;
    margin: 20px auto;
    display: flex;
    height: 200px;
    border-radius: 0 0 10px 10px;
}
@media (min-width:821px) and (max-width:1440px){
    .cus-detail{
        width: 70%;
    }
}
@media (min-width:501px) and (max-width:820px) {
    .cus-detail{
        width: 95%;
    }
}
@media (max-width:500px){
    .cus-detail{
        width: 95%;
        margin-bottom: 0;
        border-radius: 0;
        /* padding-bottom: -50px; */
    }
}
.normalrwd{
    display: flex;
}

@media (max-width:500px){
    .normalrwd{
        display: none;
    }
}
.rwdbox2{
    display: flex;
}

.note {
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width:820px) {
    .note{
        width: 30%;
        padding-left: 20px;
    }
}


.note textarea {
    resize: none;
    height: 100px;
    outline: none;
}
@media (max-width:500px){
    .note textarea {
        width: 100px;
    }
}
.note textarea:focus {
    color: rgb(83, 83, 83) ;
}
.pack-infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    text-align: center;
}
@media (max-width:500px){
    .pack-infor{
        padding-left: 30px;
        padding-right: 0;
    }
}
.coupon{
    text-align: center;
    padding-top: 10px;
}
.store-infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    background-color: #FFDBCE;
    width: 95%;
    margin: auto;
}
@media (max-width:500px){
    .store-infor{
        border-radius: 0 0 10px 10px;
        margin-bottom: 20px;
        height: 100px;
    }
}

.store-con {
    margin-top: 20px;
}
@media (max-width:500px){
    .store-con{
        margin-top: 0;
    }
}

.store-con button {
    background-color:#FFEEF4;
    border: none;
    /* border-bottom: #1404fa 1px solid; */
    color: #000000;
    margin-left: 10px;
    font-size: 15px;

}

.store-con button:hover {
    color: #ff0000;
    background-color: #FFDBCE;
    cursor: pointer;
}

.store-infor>div {
    display: flex;
}

.cus-detail .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.phonerwd{
    display: none;
}
@media (max-width:500px){
    .phonerwd{
        display: block;
        display: flex;
        width: 90%;
    }
}
.phonerwd2{
    display: none;
}
@media (max-width:500px){
    .phonerwd2{
        display: block;
        display: flex;
        /* width: 90%; */
    }
}

.pay {
    margin: auto;
    background-color: #FFDBCE;
    border-radius: 10px;
    width: 52%;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
@media (min-width:821px) and (max-width:1440px){
    .pay{
        width: 70%;
    }
}
@media (max-width:820px) {
    .pay{
        width: 95%;
    }
}



.pay select {
    margin: 20px;
}

.pay p {
    font-size: 1.5rem;
    margin: auto 0px auto 50px;
}
@media (max-width:500px){
    .pay p {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2rem;
    }
}

.pay-btn {
    margin-left: 50px;
    width: 100px;
    
}

.pay-btn button {
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
    background-color: #FFEEF4;
    /* width: 120px;
    height: 50px; */
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
@media (max-width:500px){
    .pay-btn button {
        margin-left: -45px;
        font-size: 1rem;
        /* margin-left: 10px; */
    }
}

.pay-btn button:hover {
    background-color: #FFF9E2;

}
